@use "../utils/colors" as colors;

.about {
  margin-bottom: 3em;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  &__image-box {
    width: 100%;
    object-fit: cover;
  }

  &__image {
    width: 100%;
  }

  &__title {
    margin-bottom: 1em;
    text-align: center;
  }

  &__description {
    color: colors.$darkgray;
    line-height: 2;
  }
}