@use "../utils/colors" as colors;

.contact, .map {
  margin-bottom: 3em;
}

.contact {
  &__details, &__form {
    padding: 2em;
    border: 2px solid colors.$darkgray;
    text-align: center;
  }

  &__details {
    &-box {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-address, &-phone, &-email {
      color: colors.$darkgray;
      line-height: 1.4;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  &__title {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: .5em;
    font-size: 1.8rem;
  }

  &__form {
    &-grid-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5em;
    }

    &-grid-column {
      flex-basis: 50%;
    }

    &-label {
      display: block;
      margin-bottom: .5em;
      font-size: 1.8rem;
      font-family: var(--primary-font-medium);
    }

    &-input {
      width: 100%;
      padding: .75em;
      border: 2px solid transparent;
      font-size: 1.6rem;
      font-family: var(--primary-font);

      &:focus {
        outline: none;
        border-color: colors.$darkgray;
      }
    }
  }
}

.map {
  &__frame {
    width: 100%;
    height: 600px;
    border: 2px solid colors.$darkgray;
  }
}