@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.contact, .map {
  margin-bottom: 3em;
}

.contact {
  &__details, &__form {
    padding: 2em;
    border: 2px solid colors.$darkgray;
    text-align: center;
  }

  &__details {
    &-box {
      margin-bottom: 1em;
    }

    &-address, &-phone, &-email {
      color: colors.$darkgray;
      line-height: 1.4;
    }

    &-logo {
      @include mixins.companyLogo;
      justify-content: center;
      padding-top: 1em;
      border-top: 2px solid colors.$darkgray;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  &__title {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: .5em;
    font-size: 1.8rem;
  }

  &__form {
    &-grid-row {
      margin-bottom: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5em;

      &:nth-last-child(2) {
        flex-direction: column;
        gap: 0;
      }

      &:last-child {
        margin-bottom: 0;
        justify-content: center;

        & > .contact__form-button {
          @include mixins.buttonAndLinkStyles(colors.$mint, colors.$black, colors.$mintshadow);
          align-self: center;
          font-family: var(--primary-font);
          border: 2px solid transparent;
          cursor: pointer;

          @media (hover: hover) {
            &:hover {
              transform: scale(1.05);
              box-shadow: 0 3px 8px 0 colors.$mintshadow;
            }
          }
        }
      }
    }

    &-grid-column {
      flex-basis: 50%;
    }

    &-label {
      display: block;
      margin-bottom: .5em;
      font-size: 1.8rem;
      font-family: var(--primary-font-medium);
    }

    &-input, &-textarea {
      @include mixins.formControlStyles;

      &::-webkit-input-placeholder {
        color: colors.$darkgray;
      }

      &:focus {
        outline: none;
        border-color: colors.$darkgray;
      }
    }

    &-select-box {
      position: relative;
    }

    &-select {
      @include mixins.formControlStyles;
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;

      &:focus {
        outline: none;
        border: 2px solid colors.$darkgray;
      }

      &-arrow {
        position: absolute;
        width: 20px;
        right: 0;
        bottom: 0;
        margin: 1em;
        fill: colors.$darkgray;
        opacity: .75;
        pointer-events: none;

        &--up {
          bottom: 2px;
        }

        &--down {
          bottom: 0;
        }
      }
    }

    &-textarea {
      resize: vertical;
    }
  }
}

.map {
  &__frame {
    width: 100%;
    height: 600px;
    border: 2px solid colors.$darkgray;
  }
}