@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.footer {
  background-color: colors.$lightgray;
  color: colors.$darkgray;

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    padding: 3em;

    &-logo {
      &-link {
        @include mixins.companyLogo;
        font-size: 4.6rem;
      }

      &-icon {
        width: 40px;
      }
    }

    &-section {
      &-title, &-item {
        margin-bottom: 1em;
      }

      &-title {
        font-size: 2.2rem;
        color: colors.$black;
      }

      &-list {
        list-style-type: none;
      }

      &-item:last-child {
        margin-bottom: 0;
      }

      &-link {
        text-decoration: none;
        color: colors.$darkgray;
        font-size: 1.4rem;
      }

      &:last-child {
        .footer__nav-section-item:last-child {
          margin-bottom: 1em;
        }
      }
    }
  }

  &__copyright {
    padding: 1.2em;
    font-size: 1.4rem;
    text-align: center;
    border-top: 2px solid colors.$darkgray;
  }
}