@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.footer {
  background-color: colors.$lightgray;
  color: colors.$darkgray;

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;

    &-logo {
      &-link {
        @include mixins.companyLogo;
      }

      &-icon {
        width: 25px;
      }
    }
  }

  &__copyright {
    padding: 1.2em;
    font-size: 1.4rem;
    text-align: center;
    border-top: 2px solid colors.$darkgray;
  }
}