@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.footer {
  background-color: colors.$lightgray;
  color: colors.$darkgray;

  &__container {
    padding: 6.6em 0 3em;
  }

  &__nav,
  &__socials {
    margin-bottom: 2em;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &-logo {
      &-link {
        @include mixins.companyLogo;
        font-size: 4.6rem;
      }

      &-icon {
        width: 40px;
      }
    }

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: .5em;
    }

    &-link {
      text-decoration: none;
      display: block;
      padding: 1em 0;
      color: colors.$darkgray;
      transition: color 200ms linear;

      &--active {
        color: colors.$black;
        font-family: var(--primary-font-semibold);
      }

      @media (hover: hover) {
        &:hover {
          color: colors.$black;
        }
      }
    }
  }

  &__title {
    margin-bottom: .5em;
    font-size: 2.4rem;
  }

  &__socials {
    &-list {
      position: relative;
      list-style-type: none;
      display: flex;
      gap: 1em;
    }

    &-link {
      position: relative;
      height: calc(40px + 1em);
      display: inline-block;
      padding: .5em;
      text-decoration: none;

      & img {
        width: 40px;
        height: 40px;
      }
    }

    &-tooltip {
      position: absolute;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      background-color: colors.$darkgray;
      color: colors.$light;
      padding: .5em 1em;
      border-radius: 4px;
      pointer-events: none;
      transition: opacity 200ms ease-in-out;

      &--visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__details {
    &-address {
      padding: .5em 0;
    }
  }

  &__copyright {
    padding: 1.2em;
    font-size: 1.4rem;
    text-align: center;
    border-top: 2px solid colors.$darkgray;
  }
}