.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  &__logo {
    padding: .5em;
    display: flex;
    align-items: center;
    gap: .25em;
    font-family: var(--primary-font-light);
    font-size: 3.2rem;

    &-icon {
      width: 25px;
    }
  }

  &__burger-icon {
    padding: 1em;
    background: none;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;

    &-line {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 2px;

      &:first-child {
        margin-bottom: 8px;
      }

      &:last-child {
        margin-top: 8px;
      }
    }

    &:focus {
      outline: none;
      border-color: #000;
    }
  }

  &__links {
    display: none;
  }
}