@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .5em;
  background-color: colors.$light;

  &__logo {
    margin-left: .5em;
    @include mixins.companyLogo;

    &-icon {
      width: 25px;
    }
  }

  &--dark {
    background-color: colors.$black;
    color: colors.$light;

    & > .navbar__logo {
      color: colors.$light;

      & > .navbar__logo-icon {
        fill: colors.$light;
      }
    }

    & > .navbar__burger-icon {
      background-color: colors.$black;

      & > .navbar__burger-icon-line,
      & > .navbar__burger-icon-line::before,
      & > .navbar__burger-icon-line::after {
        background-color: colors.$light;
      }

      &:focus {
        outline: none;
        border-color: colors.$light;
      }
    }

    & .navbar__link {
      color: colors.$light;

      @media (hover: hover) {
        &:hover {
          @include mixins.darkNavbarLinkActiveAndHover;
        }
      }

      &--active {
        @include mixins.darkNavbarLinkActiveAndHover;
      }
    }
  }

  &__burger-icon {
    position: relative;
    width: 72px;
    height: 66px;
    padding: 1em;
    background: none;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;

    &-line {
      display: block;
    }

    &-line,
    &-line::before,
    &-line::after {
      width: 37px;
      height: 4px;
      background-color: colors.$black;
      border-radius: 2px;
    }

    &-line::before,
    &-line::after {
      content: "";
      position: absolute;
      left: 16px;
      transition: transform 200ms ease-in-out;
    }

    &-line::before {
      top: 16px;
    }

    &-line::after {
      bottom: 16px;
    }

    &--active {
      & > .navbar__burger-icon-line::before {
        transform: translateY(-4px);
      }
      & > .navbar__burger-icon-line::after {
        transform: translateY(4px);
      }
    }

    &:focus {
      outline: none;
      border-color: colors.$black;
    }
  }

  &__links {
    display: none;
    flex-basis: 100%;

    &--active {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    width: 100%;
    text-align: center;
  }

  &__link {
    width: 100%;
    display: inline-block;
    padding: 2em 1em;
    text-decoration: none;
    color: colors.$black;
    transition: background-color 100ms linear, color 200ms linear;

    @media (hover: hover) {
      &:hover {
        @include mixins.navbarLinkActiveAndHover;
      }
    }

    &--active {
      @include mixins.navbarLinkActiveAndHover;      
    }
  }
}