@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.offer {
  margin-bottom: 2em;

  &__card-group {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__card {
    padding: 3em 2em;
    box-shadow: 0 2px 5px 0 colors.$darkgray;
    border-radius: 4px;
    text-align: center;

    &-title {
      margin-bottom: 1em;
      font-family: var(--primary-font-extralight);
    }

    &-price {
      margin-bottom: .5em;
      font-family: var(--primary-font-medium);
      font-size: 3.6rem;
      letter-spacing: -2px;

      &-currency {
        font-size: 1.3em;
      }
    }

    &-options {
      &-box {
        margin-bottom: 2em;
      }
      
      &-list {
        list-style-type: none;
      }
    }
    
    &-option {
      margin-bottom: .5em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
    }

    &-link {
      @include mixins.offerLink;

      &--popular {
        @include mixins.greenOfferLink;
      }

      @media (hover: hover) {
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 3px 8px 0 colors.$darkgray;
        }

        &--popular:hover {
          box-shadow: 0 3px 8px 0 colors.$mintshadow;
        }
      }
    }
  }

  &__card-option-icon {
    width: 1.6rem;

    &--available {
      fill: green;
    }
  }

  &__link-box {
    text-align: center;
  }

  &__link {
    @include mixins.offerLink;
    @include mixins.greenOfferLink;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 3px 8px 0 colors.$mintshadow;
      }
    }
  }
}