@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.parks {
  margin-bottom: 3em;

  &__grid {
    display: grid;
    gap: 2em;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 2px solid colors.$darkgray;
    // color: colors.$darkgray;

    &-title {
      margin: .5em auto 0 .6em;
      font-size: 2rem;
    }

    &-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }

    &-info {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-top: .5em;
      padding: 0 .5em;
      font-size: 1.8rem;

      &-icon {
        & > picture {
          @include mixins.iconHeight;
        }
      }

      &-description {
        font-size: 1.6rem;
        line-height: 1.4;

        & > b {
          font-size: 1.8rem;
        }
      }

      &:last-child {
        margin-bottom: .5em;
      }
    }
    
    // &-link {
    //   @include mixins.buttonAndLinkStyles(colors.$mint, colors.$darkgray, colors.$mintshadow);
    // }
  }
}