@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.testimonials {
  margin-bottom: 3em;

  &__slider-box {
    width: 100%;
    overflow: hidden;
  }

  &__slider {
    margin-bottom: 3em;
    display: flex;
    transform: translateX(0);
    transition: transform 500ms linear;

    &-buttons {
      display: flex;
      justify-content: center;
      gap: 1em;
    }

    &-button {
      @include mixins.buttonAndLinkStyles(colors.$mint, colors.$darkgray);
      padding: .5em 1em;
      font-size: 2.4rem;
      border: none;
      box-shadow: none;
      transition: none;
      cursor: pointer;
    }
  }

  &__slide {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1em;
    border-radius: 4px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      width: 130px;
      align-self: flex-start;
    }

    &-quote {
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      background-color: colors.$mintshadow;
      border-radius: 50%;

      &-icon {
        width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-body {
      &-text {
        margin-top: 1.6em;
        margin-bottom: 1em;
        color: colors.$darkgray;
        line-height: 1.5;
      }

      &-rating {
        & > picture {
          @include mixins.iconHeight;
        }
      } 
    }

    &:first-of-type {
      & .testimonials__slide-logo {
        width: 170px;
        margin-left: -7px;
      }
    }
  }
}