@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.testimonials {
  &__slider {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      gap: 1em;
    }

    &-list {
      list-style-type: none;
      overflow: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &--dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;

        .testimonials__slider-card:hover {
          cursor: grabbing;
          user-select: none;
        }
      }
    }

    &-card {
      padding: 1.5em;
      border: 3px solid colors.$darkgray;
      border-radius: 6px;
      
      &-top {
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      &-image {
        width: 100px;
        height: 100px;
        padding: .2em;
        object-fit: cover;
        border: 4px solid colors.$mint;
        border-radius: 50%;
      }

      &-quote {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: colors.$mint;
        border-radius: 50%;

        & img {
          position: absolute;
          width: 70%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      
      &-text {
        margin-bottom: 1em;
        line-height: 1.5;
      }

      &-fullname {
        font-size: 2.2rem;
        margin-bottom: .5em;
        color: colors.$mint;
      }

      &-city {
        color: colors.$darkgray;
      }

      &:hover {
        cursor: grab;
      }
    }

    // &-buttons {
    //   display: flex;
    //   justify-content: center;
    //   gap: 1em;
    // }

    &-button {
      @include mixins.buttonAndLinkStyles(colors.$mint, colors.$darkgray);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: .5em .4em .35em;
      font-size: 3rem;
      border: none;
      box-shadow: none;
      transition: none;
      cursor: pointer;

      &--prev {
        left: -20px;
      }

      &--next {
        right: -20px;
      }
    }
  }

  &__companies {
    display: flex;
    flex-direction: column;
  }

  &__company {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
      width: 35%;
    }

    &:first-child {
      & > .testimonials__company-logo {
        width: 40%;
      }
    }
  }  
}