@media screen and (min-width: 1200px) {
  .container, .container:has(.navbar) {
    width: 1140px;
  }

  .hero-section {
    &__text {
      font-size: 3.8rem;
    }
  }

  .offer {
    &__card-group {
      gap: 3rem;
    }

    &__card {
      padding: 3em;

      &-option {
        font-size: 1.6rem;
      }
    }
  }
}