@media screen and (min-width: 1200px) {
  .container, .navbar {
    width: 1140px;
  }

  .hero-section {
    &__text {
      font-size: 3.8rem;
    }
  }

  .hero-image {
    background-image: url("./images/girl_walking_desktop_hq.min.jpg");
  }

  .offer {
    &__card-group {
      gap: 3rem;
    }

    &__card {
      padding: 3em;

      &-option {
        font-size: 1.6rem;
      }
    }
  }
}