@use "./utils/colors" as colors;

@media screen and (min-width: 992px) {
  [id] {
    scroll-margin-top: 120px;
  }
  
  .container, .navbar {
    width: 960px;
  }

  .hero {
    &__description {
      font-size: 3.2rem;
    }
  }

  .about {
    &__description {
      &:nth-of-type(odd) {
        flex-direction: row;

        & .about__title,
        & .about__mission {
          text-align: left;
        }
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        & .about__title,
        & .about__mission {
          text-align: right;
        }
      }

      & > * {
        flex-basis: 50%;
      }
    }

    &__title {
      font-size: 1.8rem;
    }

    &__text {
      font-size: 1.5rem;
    }

    &__banner-text {
      font-size: 3.2rem;
    }
  }

  .offer {
    &__card-group {
      flex-direction: row;
    }

    &__card {
      padding: 2em;

      &-option {
        font-size: 1.4rem;
      }
    }
  }

  .testimonials {
    &__slider {
      &-card {
        height: 480px;
      }
    }

    &__company {
      flex-basis: 25%;

      &:first-child {
        & > .testimonials__company-logo {
          width: 75%;
        }
      }
    }
  }

  .contact {
    &__box {
      flex-direction: row;
      align-items: flex-start;
    }

    &__details {
      flex-grow: 1;
    }

    &__form {
      flex-grow: 2;

      &-grid {
        grid-template-columns: repeat(2, 1fr);

        &-item {
          &:first-of-type,
          &:nth-last-of-type(2),
          &:last-of-type {
            grid-column: 1 / 3;
          }

          &:last-of-type {
            flex-direction: row;
          }
        }
      }

      &-error {
        font-size: 1.4rem;
      }
    }
  }

  .services {
    &__cards {
      flex-wrap: nowrap;
    }
  }
  
  .parks__card-info-description {
    margin-bottom: 4.5em;
  }

  .footer {
    &__nav {
      flex-direction: row;

      &-logo {
        flex-grow: 1;
      }
    }
  }
}