@use "./utils/colors" as colors;

@media screen and (min-width: 992px) {
  .container, .navbar {
    width: 960px;
  }

  .navbar {
    padding: 0;

    &__burger-icon {
      display: none;
    }

    &__links {
      display: block;
      flex-basis: auto;
    }

    &__list {
      flex-direction: row;
    }
  }

  .hero {
    &__text {
      padding-left: 1em;
    }

    &__description {
      font-size: 3.2rem;
    }
  }

  .about {
    &__content {
      flex-direction: row;

      & > * {
        flex-basis: 50%;
      }
    }

    &__title {
      text-align: initial;
    }

    &__description {
      font-size: 1.4rem;
    }

    &__banner-text {
      font-size: 3.2rem;
    }
  }

  .offer {
    &__card-group {
      flex-direction: row;
    }

    &__card {
      padding: 2em;

      &-option {
        font-size: 1.4rem;
      }
    }
  }

  .contact {
    &__box {
      flex-direction: row;
    }

    &__details {
      flex-grow: 1;
    }

    &__form {
      flex-grow: 2;

      &-grid-row {
        flex-direction: row;
      }
    }
  }

  .footer {
    &__nav {
      flex-direction: row;

      &-logo {
        flex-grow: 1;
      }
    }
  }
}