@use "./utils/colors" as colors;

@media screen and (min-width: 992px) {
  .container, .container:has(.navbar) {
    width: 960px;
  }

  .navbar {
    padding: 0;

    &__burger-icon {
      display: none;
    }

    &__links {
      display: block;
      flex-basis: auto;
    }

    &__list {
      flex-direction: row;
    }
  }

  .hero {
    &__text {
      padding-left: 1em;
    }

    &__description {
      font-size: 3.2rem;
    }
  }

  .about {
    &__content {
      flex-direction: row;

      & > * {
        flex-basis: 50%;
      }
    }

    &__title {
      text-align: initial;
    }

    &__description {
      font-size: 1.4rem;
    }
  }

  .hero-image {
    background-image: url("../images/girl_walking_desktop.jpg");
  }

  .hero-section {
    &__text {
      font-size: 3.2rem;
    }
  }

  .offer {
    &__cards {
      flex-direction: row;
    }
  }
}