@use "./utils/colors" as colors;

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }

  .navbar {
    &__burger-icon {
      display: none;
    }

    &__links {
      display: block;
      flex-basis: auto;
    }

    &__list {
      flex-direction: row;
    }
  }

  .hero {
    &__text {
      padding-left: 1em;
    }

    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 3.2rem;
    }
  }

  .about {
    &__content {
      flex-direction: row;

      & > * {
        flex-basis: 50%;
      }
    }

    &__title {
      text-align: initial;
    }
  }
}