@use "./utils/mixins" as mixins;

@media (min-width: 768px) {
  .navbar {
    padding: 0;
    flex-wrap: nowrap;

    &__burger {
      display: none;
    }

    &__links {
      display: block;

      &--active {
        padding-top: 0;
      }
    }

    &__list {
      flex-direction: row;
      justify-content: flex-end;
      gap: .25em;
    }

    &__item,
    &__link {
      width: auto;
    }

    &__link {
      display: inline-flex;
      white-space: nowrap;

      &--active {
        @include mixins.navbarLinkActiveAndHover;      
      }
    }

  }

  .services {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }

    &__card {
      grid-column: span 2;

      &:last-child {
        grid-column: 2 / 4;
      }
    }
  }

  .faq-listing {
      &__question {
      text-align: left;
    }
  }

  .parks {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      &-image {
        height: 250px;
      }

      &:last-child {
        width: 50%;
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }
}