@use "./utils/mixins" as mixins;
@use "./utils/colors" as colors;

.container-fluid {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: colors.$light;
  border-bottom: 2px solid black;
  z-index: 11;

  &--dark {
    background-color: colors.$black;
  }
}

.navbar__overlay--active {
  position: fixed;
  @include mixins.overlay;
  z-index: 10;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.page-section {
  margin: 6.6em 0;
}

.section__overlay {
  position: absolute;
  @include mixins.overlay;
  z-index: 8;
}

.section__title,
.section__subtitle,
.slider-hint {
  text-align: center;
}

.section__title {
  font-size: 3.2rem; 
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 1px;

  &--on-faq-page {
    margin-top: 2.4em;
  }
}

.section__title-divider {
  margin: 1.5em auto;
  width: 60px;
  border: 2px solid colors.$mint;
}

.section__subtitle {
  margin-bottom: 3em;
  font-size: 1.6rem;
  line-height: 1.5;
}

.no-scroll {
  overflow: hidden;
}