@use "./utils/mixins" as mixins;

.container {
  width: 94%;
  margin: 0 auto;

  & > .navbar__overlay--active {
    position: fixed;
    @include mixins.overlay;
  }

  &:has(.navbar) {
    width: 100%;
  }
}

.section__overlay {
  position: absolute;
  @include mixins.overlay;
}

.section__title {
  margin: 1.6em 0;
  font-family: var(--primary-font-extralight);
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
}