@use "./utils/mixins" as mixins;
@use "./utils/colors" as colors;

.container-fluid {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: colors.$light;
  border-bottom: 2px solid black;
  z-index: 11;

  &--dark {
    background-color: colors.$black;
  }
}

.navbar__overlay--active {
  position: fixed;
  @include mixins.overlay;
  z-index: 10;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.page-section,
.privacy-policy {
  margin: 6.6em 0;
}

.section__overlay {
  position: absolute;
  @include mixins.overlay;
  z-index: 8;
}

.section__title,
.section__subtitle,
.slider-hint {
  text-align: center;
}

.hero__title,
.hero__description,
.section__title,
.footer__title,
.slider-hint {
  line-height: 1.4;
}

.section__title {
  font-size: 3.2rem; 
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section__title-divider {
  margin: 1.5em auto;
  width: 60px;
  border: 2px solid colors.$mint;
}

.section__subtitle {
  margin-bottom: 3em;
  font-size: 1.6rem;
  line-height: 1.8;
}

.no-scroll {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.scroll-to-top-button {
  @include mixins.buttonAndLinkStyles(colors.$mint, colors.$black);
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: .5em;
  border-color: colors.$darkmint;
  font-size: 1.6rem;
  font-family: var(--primary-font-medium);
  text-transform: uppercase;
  cursor: pointer;
  transition: right 200ms ease-in-out;
  z-index: 11;

  &__icon {
    width: 30px;
  }

  &--hidden {
    right: -150px;
  }

  &:focus {
    outline: none;
    border-color: colors.$black;
  }
}