@use "./utils/colors" as colors;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Primary", Arial, sans-serif;
  --primary-font-italic: "Primary_italic", Arial, sans-serif;
  --primary-font-medium: "Primary_medium", Arial, sans-serif;
  --primary-font-bold: "Primary_bold", Arial, sans-serif;

  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: colors.$primary-color;
  color: hsl(337, 100%, 63%);
}