@media screen and (min-width: 576px) {
  .hero {
    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 2.4rem;
    }
  }

  .about {
    &__title {
      font-size: 2.4rem;
    }

    &__banner-text {
      font-size: 2.4rem;
    }
  }

  .stats {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .offer {
    &__card {
      padding: 3em;
    }
  }

  .partners {
    &__companies {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__company {
      flex-basis: 50%;

      &-logo {
        width: 50%;
      }

      &:first-child {
        & > .partners__company-logo {
          width: 60%;
        }
      }
    }
  }

  .parks {
    &__card-image {
      height: 300px;
    }

    &__card-title {
      line-height: normal;
    }

    &__card-info-description {
      font-size: 1.6rem;
    }

    &__card-link {
      padding: .75em 4.5em;
    }
  }

  .faq {
    &__accordion-question {
      font-size: 1.8rem;
    }
  }

  .footer {
    &__nav-list {
      flex-direction: row;
      gap: 1.5em;
    }
  }
}