@media screen and (min-width: 576px) {
  .hero {
    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 2.4rem;
    }
  }

  .about__banner-text {
    font-size: 2.4rem;
  }

  .offer {
    &__card {
      padding: 3em;
    }
  }

  .services {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__card {
      width: 300px;
    }
  }
}