@media screen and (min-width: 576px) {
  .hero {
    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 2.4rem;
    }
  }

  .about {
    &__stats {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__banner-text {
      font-size: 2.4rem;
    }
  }

  .offer {
    &__card {
      padding: 3em;
    }
  }

  .services {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__card {
      width: 300px;
    }
  }

  .parks {
    &__card-image {
      height: 300px;
    }

    &__card-title {
      line-height: normal;
    }

    &__card-info-description {
      font-size: 1.6rem;
    }

    &__card-link {
      padding: .75em 4.5em;
    }
  }
}